@namespace TvCharts.Net.Components

@using TvCharts.Net.Series
@using Microsoft.JSInterop

<div style="width: 100%; height: 100%; display: flex; border-radius: 12px;">
    @foreach (TvChart chart in Content)
    {
        <TvChartRenderer Chart="chart" />
    }
</div>

@code {
    [Inject] public IJSRuntime? JsRuntime { get; set; }

    //private List<TvChart> _charts;

    //protected override void OnInitialized()
    //{
    //    _charts = new List<TvChart>();
    //}

    //public void AddChart(TvChart chart)
    //{
    //    _charts.Add(chart);
    //    StateHasChanged();
    //}
    //public void RemoveChart(TvChart chart)
    //{
    //    _charts.Remove(chart);
    //    StateHasChanged();
    //}

    [Parameter] public IEnumerable<TvChart> Content { get; set; } = Enumerable.Empty<TvChart>();
}
