@namespace TvCharts.Net.Components
@using TvCharts.Net.Interop
@using TvCharts.Net.Series
@inject ITvChartInterop Interop

<div style="position: relative; flex-grow:1; max-height: 100%;">
    @if (Chart is not null)
    {
        <div style="width: 100%; height: 100%; position: absolute;" @ref="_chartReference" />
    }
    else
    {
        <div style="width: 100%; height: 100%; position: absolute;">
            <h2>No Content set</h2>
        </div>

    }
</div>
@code {
    [Parameter] public TvChart? Chart { get; set; }

    private ElementReference _chartReference;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (Chart is not null)
            {
                Chart.SeriesAdded += async (sender, series) => await Interop.AddSeries(series, _chartReference.Id);
                Chart.SeriesDataChanged += async (sender, series) => await Interop.UpdateSeriesData(series);

                await Interop.LoadChartAsync(_chartReference, Chart);
            }
        }
    }
}
